body {
  background: #f4f4f4;
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
}

/* title */
.main-title {
  text-align: center;
  font-size: 32px;
  color: #73000A;
  margin-bottom: 5px;
  font-weight: bold;
}

.subheader {
  text-align: center;
  color: #333;
  margin-bottom: 10px;
  font-size: 18px;
}

/* email */
.top-email {
  text-align: center;
  color: #222;
  font-size: 16px;
  margin-bottom: 20px;
}

/* Section styling */
section {
  background: #cfcfcf;
  border: 1px solid #ccc;
  padding: 15px;
  width: 80%;
  margin: 20px auto;
  border-radius: 6px;
}

h2 {
  color: #333;
  text-align: center;
}

h3 {
  color: #73000A;
  margin-bottom: 10px;
  font-size: 18px;
}

/* Project Grid */
.project-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.project-card {
  background: #cfcfcf;
  border: 1px solid #ccc;
  width: 300px;
  padding: 15px;
  text-align: center;
  border-radius: 6px;
}

/* Images */
.project-card img {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Project links */
.project-card a {
  color: #73000A;
  text-decoration: none;
  font-weight: bold;
}

.project-card a:hover {
  text-decoration: underline;
}


.repo-list {
  text-align: left !important;
  padding-left: 20px;
  margin-left: 0;
}

.repo-list li {
  text-align: left !important;
  list-style-type: disc;
}

.repo-list a {
  color: #73000A !important;  /* burgundy */
  font-weight: bold;
  text-decoration: none;
}

.repo-list a:hover {
  text-decoration: underline;
}
