body {
  background: #73000A;
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
}

.main-title {
  text-align: center;
  font-size: 32px;
  color: white;
  margin-bottom: 5px;
  font-weight: bold;
}

.subheader {
  text-align: center;
  color: white !important;
  margin-bottom: 10px;
  font-size: 18px;
}

.top-email {
  text-align: center;
  color: white !important;
  font-size: 16px;
  margin-bottom: 20px;
}

section {
  background: #b8b8b8;
  border: 1px solid #999;
  padding: 15px;
  width: 80%;
  margin: 20px auto;
  border-radius: 6px;
}

h2 {
  color: white !important;
  text-align: center;
}

h3 {
  color: #73000A;
  margin-bottom: 10px;
  font-size: 18px;
}

.project-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 20px;
}
 
.project-card {
  background: #b8b8b8;
  border: 1px solid #999;
  width: 300px;
  padding: 15px;
  text-align: center;
  border-radius: 6px;
}

.project-card img {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.project-card a {
  color: #73000A;
  text-decoration: none;
  font-weight: bold;
}

.project-card a:hover {
  text-decoration: underline;
}
