body {
  background: #f4f4f4;
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
}

/* title */
.main-title {
  text-align: center;
  font-size: 32px;
  color: #73000A;
  margin-bottom: 5px;
  font-weight: bold;
}

.subheader {
  text-align: center;
  color: #333;
  margin-bottom: 10px;
  font-size: 18px;
}

/* email */
.top-email {
  text-align: center;
  color: #222;
  font-size: 16px;
  margin-bottom: 20px;
}

/* Resume links */
.links {
  text-align: center;
  margin-bottom: 30px;
}

.links a {
  margin: 0 12px;
  color: #73000A;
  text-decoration: underline;
  font-weight: bold;
  font-size: 16px;
}

/* Section styling */
section {
  background: #cfcfcf; /* darker grey */
  border: 1px solid #ccc;
  padding: 15px;
  width: 80%;
  margin: 20px auto;
  border-radius: 6px;
}

h2 {
  color: #333;
  text-align: center;
}

h3 {
  color: #73000A;
  margin-bottom: 10px;
  font-size: 18px;
}

/* Project Grid */
.project-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 20px;
}

/* Bigger Project Cards */
.project-card {
  background: #cfcfcf;
  border: 1px solid #ccc;
  width: 300px;
  padding: 15px;
  text-align: center;
  border-radius: 6px;
}

/* Bigger Images */
.project-card img {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.project-card a {
  color: #73000A;
  text-decoration: none;
  font-weight: bold;
}
